/* Reset default margins and paddings */
html, body {
    margin: 0;
    padding: 0;
 } 
 button {
   background-color: #3882f6;
   height: 30px;
   width: 100px;
   border-radius: 10px;
 }
 body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
 }
 #hero, #footer {
    background-color: #1F2937;
 }
 #hero{
   padding: 10px 200px;
   display: flex;
   flex-direction: column;
 }
 /*Hero secondary text, header link text style*/

 #header {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    gap: 10px;
    justify-content: space-between;   
    
 }
 #header .link {
   font-size: 18px;
   color: #e5e7eb;
 }
 #header-links{
   display: flex;
   gap: 16px;
 }
 #header-logo {
    font-weight: bold;
 }
 #header a {
    text-decoration: none;
    color: #f9faf8;
 } 
 #hero-primary {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
 }
 #hero-rest{
   display: flex;
   margin-top: 100px;
   margin-bottom: 100px;
   justify-content: space-between;
  
 }
 #text{
   display: flex;
   flex-direction: column;
 }

 #hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    text-wrap: wrap;
 }
 #signup-hero {
    border: none;
    color: #f9faf8;
    margin-top: 10px;
 }
 #placeholder-hero{
   width: 500px;
   height: 223px;
   background-color: grey;
   display: flex;
   justify-content: center;
   align-items: center;
   
 }
 #information {
   display: flex;
   flex-direction: column;
   padding: 0 300px 60px 300px;
   text-align: center;
 }

 .placeholder-information {
   height: 100px;
   width: 100px;
   border-width: 2px;
   border-color: #3882f6;
   border-style: solid;
   border-radius: 8px;
}
 .information-block{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 8px;
 }
 span.subtext{
     text-align: center; /* Justifies each line */
     display: inline-block;
 }
 #information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
 }
 #placeholder-information-container{
   display: flex;
 }
 #quote-section {
   background-color: #e5e7eb;
   padding: 50px 300px;
   display: inline-block;
   flex: auto;
}
 #quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    flex: auto;
 }
 #quote-author {
   margin-left: 100px;
 }
 #calltoaction-section {
   background-color: #3882f6;
   margin: 40px 200px;
   padding: 20px 40px;
   border-radius: 4px;
   display: flex;
   flex: auto;
 }
 #calltoaction{
  color: #f9faf8;
  display: flex;
  
 }
 #calltoaction-text {
  display: flex;

 }
 #calltoaction-header {
  
  font-size: 22px;

 }
 #calltoaction-secondary{
  
 }
 #signup-calltoaction {
   color: #f9faf8;
   border: 2px solid #f9faf8;
 }

 #footer {
   text-align: center;
   padding:30px;
   color: #f9faf8;
   margin-top: auto;
 }